@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background: rgba(0, 0, 0, 0.7);

    #banner-title {
        font-weight: 700;
        color: white;
        font-size: 70px;
    }

    #banner-text {
        color: white;
        font-weight: 400;
        font-size: 20px;
        width: 455px;
        text-align: center;
    }
}