#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;

    #about-box {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr;
        gap: 50px;

        #about-left {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            grid-area: 1 / 1 / 2 / 2;

            #about-left-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                #about-left-subtitle {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--texto-escuro);
                    width: 400px;
                    margin: 13px 0px 20px 0px;
                }

                #about-left-image {
                    height: 300px;
                    width: 240px;
                    overflow: hidden;
                    background: var(--azul-medio-5p);
                    border-radius: 0px 30px 0px 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 300px;
                    }
                }

                #about-left-image-crator {
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--texto);
                    margin-top: 3px;
                }
            }
        }

        #about-right-box {
            display: flex;
            justify-content: center;
            align-items: center;

            #about-right {
                grid-area: 1 / 2 / 2 / 3;
                width: 600px;
                display: flex;
                justify-content: start;
                align-items: start;
                gap: 40px;
                // display: grid;
                // grid-template-columns: repeat(2, 250px);
                // grid-template-rows: repeat(2, 265px);
                // grid-column-gap: 25px;
                // grid-row-gap: 50px;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                .content {
                    width: calc(50% - 20px);

                    .content-title {
                        color: var(--azul-medio);
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .content-text {
                        color: var(--texto);
                        font-size: 16px;
                        font-weight: 400;
                        text-align: justify;
                    }

                    // .box1 {
                    //     grid-area: 1 / 1 / 2 / 2;
                    // }

                    // .box2 {
                    //     grid-area: 2 / 1 / 3 / 2;
                    // }

                    // .box3 {
                    //     grid-area: 1 / 2 / 2 / 3;
                    // }

                    // .box4 {
                    //     grid-area: 2 / 2 / 3 / 3;
                    // }
                }
            }
        }
    }
}